@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
/* Geral */

html {
    background: rgba(32, 33, 36, 1);
}

#app {
    background: rgba(32, 33, 36, 1);
    display: flex;
    flex-wrap: wrap;
}

/* Panels do Jogo*/

.panel-header {
    background: url("./assets/outside-background.jpg") no-repeat;
    background-size: cover;
    height: 50vh;
    margin-top: 6vh;
    margin-left: 0vh;
    border-radius: 16vh 0vh 16vh 0vh;
}

.panel-buttons {
    background: url("./assets/outside-background.jpg") no-repeat fixed center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    width: 30vw;
    height: 60vh;
    padding: 2vh;
}

.panel-characters {
    width: 20vw;
    height: 60vh;
    margin-top: 5vh;
    margin-left: 2vh;
}

.panel-rodape {
    width: 100vw;
    height: 20vh;
}

/* Área do header */

.top-header {
    height: 15vh;
    padding: 5vh;
    text-align: center;
    z-index: 1;
}

.wallpaper-home {
    height: 30vh;
    width: 90vw;
    padding: 20px;
    background: url("./assets/background.jpg") no-repeat fixed center;
    z-index: 0;
}

.logo {
    width: 10vw;
}

.top-header span {
    font-size: 6vh;
    font-family: Brandon-Text, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #F8F8FF;
    /* Propriedade é necessária além da cor, atribuir um tamanho */
    text-shadow: #ffc107 0.1em 0.1em 0.2em;
}

/* Área dos botões (Controle do Jogo) */

.panel-buttons .btn {
    margin-top: 1vh;
    width: 20vw;
    height: 12vh;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #EEE9E9;
    font-family: 'Architects Daughter', cursive;
    font-size: 3vh;
    border-radius: 5px;
    border: 2px solid;
    box-shadow: 0.5vh 0.5vh#F5F5F5;
    background: url("./assets/background.jpg") no-repeat fixed center;
    background-size: cover;
    color: #fff;
}

.panel-buttons .btn:hover {
    /* Diminuir o brilho do elemento */
    filter: brightness(90%);
}

.panel-buttons .icon-game {
    width: 3vw;
}

.panel-buttons .icon-game:hover {
    transform: rotate(20deg);
}

/* Área dos Jogadores */

.img-characters{
    width: 20vw;
    height: 50vh;
    border-radius: 5vh 0 5vh 0;
}

/* Área dos pontos */

.score h1 {
    font-weight: 600;
    font-size: 1.6rem;
}

/* .life-bar {
     width: 80%;
     height: 20px;
     border: 1px solid #AAA;
 } */

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: green;
}

.life-bar .life.danger {
    background-color: red;
}

/* Área do Resultado */

.result {
    display: flex;
    justify-content: center;
    font-size: 1.8 rem;
    font-weight: 600;
}

.result .win {
    color: green;
}

.result .lose {
    color: red;
}

/* Área dos logs */

.logs ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs ul li {
    display: flex;
    justify-content: center;
}